<div>
     <h1 class="title">Filmes</h1>
    <div class="container-contacts">
     
        <a href='#' class="contacts" target='_blank'>
           <h3 class="contact">Batman</h3> 
          <img class="photo" src='https://img.elo7.com.br/product/original/3FBBED5/big-poster-filme-batman-2022-90x60-cm-lo004-presente-geek.jpg'/>
        </a>
        <a href='#' class="contacts" target='_blank'>
           <h3 class="contact">Avengers</h3> 
          <img class="photo" src='https://upload.wikimedia.org/wikipedia/pt/thumb/9/9b/Avengers_Endgame.jpg/250px-Avengers_Endgame.jpg'/>
        </a>
        <a href='#' class="contacts" target='_blank'>
           <h3 class="contact">Aquaman</h3> 
          <img class="photo" src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRH60G0oU_X0smWL22CPsZ8GQIz5Iv8HH9FBA&usqp=CAU'/>
        </a>
        <a href='#' class="contacts" target='_blank'>
           <h3 class="contact">Veno</h3> 
          <img class="photo" src='https://img.elo7.com.br/product/original/2368C5D/big-poster-filme-marvel-venom-tamanho-90x60-cm-loot-op-010-geek.jpg'/>
        </a>
     
    </div>
  </div>
