<div class="pageContext">
  <div>
    <h1 class="titleHome">Escolha o plano que ajusta no seu bolso:</h1>
  </div>

  <div class="containerMain">
    <div class="containerBorder">
      <h1 class="labelTitlePlan">Plano Basic</h1>
      <p class="describeText">Descrição topada</p>
      <section class="containerInformations">
        <div class="labelTopics">
          <p class="labelTitle">Quantidade de telas:</p>
          <p class="labelContent">telas simultâneas</p>
        </div>

        <div class="labelTopics">
          <p class="labelTitle">Anúncios:</p>
          <p class="labelContent">Anuncio topado</p>
        </div>

        <div class="labelTopics">
          <p class="labelTitle">Qualidade de vídeo:</p>
          <p class="labelContent">Resolução 4k FullHD+</p>
        </div>

        <div class="labelTopics">
          <p class="labelTitle">Recomendações de filmes/séries:</p>
          <p class="labelContent">Recomendo utilizar os nossos serviços</p>
        </div>

        <div class="labelTopics">
          <p class="labelTitle">Prazo de cancelamento:</p>
          <p class="labelContent">Você 90 dias</p>
        </div>

        <div class="labelTopics">
          <p class="labelTitle">Tipo de plano:</p>
          <p class="labelContent">Tipo Diamound</p>
        </div>
      </section>
      <p class="labelPrice">A partir</p>
      <section class="contentPrice">
        <p class="cifra">R$</p>
        <p class="price">200,00</p>
      </section>

      <section class="buttonGeneric">
        <p class="buttonText">Ver detalhes</p>
      </section>
    </div>
  </div>
</div>
